#map-box {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

#divider {
    stroke: black;
    stroke-width: 2px;
}

.left-node {
    fill: cornflowerblue;
}

.left-text {
    text-anchor: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    fill: antiquewhite;
}